/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  min-width: 500px;
}
/* utility */
.wrapper {
  width: 100%;
  height: 100vh;
}
.display_none_lg {
  display: none;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
a:hover {
  color: rgba(255, 255, 255, 1);
}

ul {
  list-style: none;
}
/* MAIN */
.main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 90px);
  overflow: hidden;
}
/* main nav */
.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  height: 100%;
  background: rgb(4, 4, 4);
}
@media screen and (max-width: 740px) {
  .main-nav {
    width: 70px;
  }
}
/* main-nav-header */
.main_logo {
  width: 50%;
  margin: 20px;
}
.main-nav-list li {
  padding: 5px 10px;
  line-height: 25px;
  border-left: 3px solid rgb(4, 4, 4);
}
.main-nav-list li.active {
  border-left: 3px solid rgb(30, 215, 96);
}
.main-nav-list img {
  width: 25px;
  vertical-align: middle;
  opacity: 0.6;
}
.main-nav-list li a:hover img {
  opacity: 1;
}

/* main-nav-main */
.main-nav-main {
  flex-grow: 2;
  padding: 0 12px;
  min-height: 150px;
  overflow-y: auto;
}
.create_playlist h2 {
  margin: 15px 0;
  color: rgb(255, 255, 255);
  font-size: 0.9em;
}
.playlist li {
  margin-top: 12px;
}
i.fa-plus-square {
  font-size: 40px;
  vertical-align: middle;
}

/* main-nav-footer */
.main-nav-footer {
  padding: 0 12px;
}
.main-nav-footer-top,
.main-nav-footer-bottom {
  display: flex;
  align-items: center;
  padding: 8px 0;
}
.main-nav-footer-top {
  border-bottom: 1px solid rgb(133, 133, 133);
}
.main-nav-footer-top i {
  margin-right: 10px;
}
.main-nav-footer-bottom img {
  height: 20px;
}
.main-nav-footer-bottom span {
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.main-nav-footer-bottom .avatar_profile {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  text-align: center;
  background-color: rgb(133, 133, 133);
  margin-right: 10px;
}
/* main content */
.main-content {
  width: calc(100% - 280px);
  height: 100%;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(18, 18, 18);
  overflow-y: scroll;
}
@media screen and (max-width: 740px) {
  .main-content {
    width: calc(100% - 70px);
  }
}
.main-content h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.6em;
  color: rgb(255, 255, 255);
}
.call-to-action {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  z-index: 1030;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 280px);
  height: 90px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.71);
}
@media screen and (max-width: 740px) {
  .call-to-action {
    width: calc(100% - 70px);
  }
}
.btn {
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50px;
  font-size: 0.9em;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  transition: 1s;
}
@media screen and (max-width: 550px) {
  .btn {
    font-size: 0.6em;
    padding: 5px 15px;
  }
}
.btn:hover {
  transform: scale(1.1);
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
.find_list {
  display: flex;
  justify-content: center;
}
.find_list li {
  padding: 7px;
}
.find_list li a {
  font-weight: bold;
  font-size: 0.7em;
  color: rgb(126, 126, 126);
  text-transform: uppercase;
}
.find_list li a:hover {
  color: rgb(255, 255, 255);
}
.find_list a::after {
  display: block;
  content: '';
  height: 3px;
  width: 20px;
}
a.line_bottom::after {
  display: block;
  content: '';
  height: 3px;
  width: 30px;
  background-color: rgb(30, 215, 96);
  margin: 0 auto;
}
@media screen and (max-width: 1100px) {
  .find_list {
    flex-wrap: wrap;
  }
  .find_list li {
    padding: 0;
    width: calc((100% / 5) - 10px);
  }
  a.line_bottom::after {
    margin: 0 20px;
  }
}
@media screen and (max-width: 815px) {
  .find_list {
    flex-wrap: wrap;
  }
  .find_list li {
    width: calc((100% / 3) - 10px);
  }
}
@media screen and (max-width: 550px) {
  .find_list {
    flex-wrap: wrap;
  }
  .find_list li {
    width: calc((100% / 4) - 10px);
  }
}

.album_list {
  display: flex;
}
.album_list.create li {
  width: calc(100% / 6);
}
.album_list li {
  padding: 10px;
}
.album_container {
  position: relative;
}
.album_list .album_container img {
  display: block;
  width: 100%;
}

.circle_img  img {
  border-radius: 50%;
}
.album_title {
  text-align: center;
  margin-top: 15px;
}
.album_title h3 {
  color: rgb(255, 255, 255);
}
.album_title h4 {
  color: rgba(255, 255, 255, 0.5);
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.71);
  position: absolute;
  opacity: 0;
  color: rgb(255, 255, 255);
  font-size: 1.8em;
}
.circle_overlay {
  border-radius: 50%;
}
.overlay_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlay:hover {
  opacity: 1;
  cursor: pointer;
}
.circle_img {
  border-radius: 100px;
}
@media screen and (max-width: 1100px) {
  .album_list {
    flex-wrap: wrap;
  }
  .album_list li,
  .album_list.create li {
    width: calc(100% / 4);
  }
}
@media screen and (max-width: 740px) {
  .album_list {
    flex-wrap: wrap;
  }
  .album_list li,
  .album_list.create li {
    width: calc(100% / 2);
  }
}
/* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  padding: 10px;
  background-color: rgb(40, 40, 40);
}

/* footer colonna sinistra */
.play {
  display: flex;
  align-items: center;
}
.footer_song img {
  width: 50px;
  margin-right: 15px;
}
.footer_song_name h4 {
  font-size: 0.8em;
  color: rgb(255, 255, 255);
}
.footer_song_name h5 {
  font-size: 0.6em;
  color: rgb(126, 126, 126);
}
.footer_song_name {
  padding-right: 40px;
}
.footer_song_save a {
  color: rgb(126, 126, 126);
  padding-right: 8px;
  transition: 1s;
}
.footer_song_save a:hover i {
  color: rgb(255, 255, 255);
  transform: scale(1.5);
}
/* footer colonna centrale */
.player {
  width: 45%;
}
.player_buttons {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
i.fa-play-circle {
  font-size: 1.6em;
}
.player_buttons a {
  color: rgb(255, 255, 255);
  margin-right: 10px;
  font-size: 1.1em;
  transition: 1s;
}
.player_buttons a:hover i {
  transform: scale(1.5);
}
.time_bar_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.time_bar_container .time {
  width: 10%;
  text-align: center;
  font-size: 0.7em;
  color: rgb(255, 255, 255);
}
.time_bar_container .time_bar {
  width: 80%;
  height: 5px;
  background-color: rgb(126, 126, 126);
  border-radius: 10px;
  cursor: pointer;
}
.time_bar_small {
  position: relative;
  height: 100%;
  width: 20%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  cursor: pointer;
}
.time_bar_small:hover {
  background-color: rgb(72, 214, 5);
}
.time_bar_small::after {
  position: absolute;
  top: -6px;
  right: 0;
  display: none;
  content: '';
  height: 15px;
  width: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
}
.time_bar_small:hover::after {
  display: block;
  cursor: pointer;
}
/* footer colonna destra */
.volume {
  display: flex;
  align-items: center;
  width: 20%;
  justify-content: flex-end;
}
.volume a {
  margin-right: 10px;
  color: rgb(255, 255, 255);
}
.volume_bar {
  height: 5px;
  width: 50%;
  background-color: rgb(126, 126, 126);
  border-radius: 10px;
  cursor: pointer;
}
.volume_bar_small {
  position: relative;
  height: 100%;
  width: 35%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  cursor: pointer;
}
.volume_bar_small:hover {
  background-color: rgb(72, 214, 5);
}
.volume_bar_small::after {
  position: absolute;
  top: -6px;
  right: 0;
  display: none;
  content: '';
  height: 15px;
  width: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
}
.volume_bar_small:hover::after {
  display: block;
  cursor: pointer;
}
