/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
/* utility */
.wrapper {
  width: 100%;
  height: 100vh;
  background-color: red;
}

/* MAIN */
.main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 90px);
  overflow: hidden;
}
/* main nav */
.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  height: 100%;
  background: black;
}
/* main-nav-header */
.main-nav-header {
  padding: 20px;
}
.main_logo {
  width: 50%;
}
.main-nav-header ul {
  list-style: none;
}
.main-nav-header ul li:first-child {
  margin-top: 15px;
}
.main-nav-header ul li {
  margin-bottom: 10px;
}
.main-nav-header ul li a {
  text-decoration: none;
  color: rgb(163, 163, 163);
  font-size: 0.8em;
  line-height: 20px;
}
.main-nav-header ul li a img {
  height: 16px;
  vertical-align: text-bottom;
}

/* main playlist */
.create_playlist {
  padding: 0 20px;
}
.create_playlist h2 {
  color: rgb(255, 255, 255);
  font-size: 0.9em;
}
.create_playlist a {
  display: inline-block;
  margin-top: 5px;
  text-decoration: none;
  color: rgb(163, 163, 163);
  line-height: 2em;
  font-size: 0.8em;
}
.create_playlist a span {
  font-size: 3em;
  margin-right: 10px;
  vertical-align: middle;
}
/* main-nav-main */
.main-nav-main {
  min-height: 150px;
  padding: 0 20px;
  overflow-y: auto;
  flex-grow: 2;
}
.playlist {
  list-style: none;
}
.playlist li {
  margin-top: 9px;
}
.playlist li a {
  text-decoration: none;
  color: rgb(163, 163, 163);
}
/* main-nav-footer */
.main-nav-footer {
  padding: 0 20px;
}
.main-nav-footer a {
  display: inline-block;
  margin-bottom: 10px;
  text-decoration: none;
  color: rgb(163, 163, 163);
  font-size: 0.8em;
}
.main-nav-footer a span {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
}
hr {
  border-color: rgb(163, 163, 163);
}
a.profile {
  color: white;
  font-weight: bold;
}
.profile span {
  border: 1px solid white;
  padding: 2px 5px;
  border-radius: 50%;
  vertical-align: sub;
  background-color: rgb(163, 163, 163);
}
.profile span img {
  height: 20px;
}
/* main content */
.main-content {
  width: calc(100% - 280px);
  height: 100%;
  padding-top: 90px;
  background-color: orange;
  overflow-y: scroll;
}
.call-to-action {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 280px);
  height: 90px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.71);
}
.btn {
  display: inline-block;
  font-size: 20px;
  padding: 10px 30px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50px;
  font-size: 0.7em;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  transition: 1s;
}
.btn:hover {
  transform: scale(1.1);
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

/* fFOOTER */
.footer {
  width: 100%;
  height: 90px;
  background-color: pink;
}
